.imagen_perfil {
    height: auto;
    width: 100px;
    border-radius: 50%;
    filter: none;
}

.imagen_perfil:hover {
    filter: grayscale(100%);
}

.bution {
    padding: 0;
    margin: 15px;
    border-radius: 50%;
    border-color: #E8AF4E;
    background-color: #E8AF4E;
}
