/* Estilos de Imágenes del equipo*/

.imagen_perfil {
    height: auto;
    width: 100px;
    border-radius: 50%;
    filter: none;
}

.imagen_perfil:hover {
    filter: grayscale(100%);
}

.bution {
    padding: 0;
    margin: 15px;
    border-radius: 50%;
    border-color: #E8AF4E;
    background-color: #E8AF4E;
}

        /*Estilos nav*/
        .NavigationBar{
            display: flex;
            background-color: #282f36 ;
            height: 66px;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .logo img{
            padding: 25px;
            width: 135px;
        }
        .nav1 .primer a{
            color:#C2943F;
            justify-content: space-around;
            padding: 25px;
            font-size: 85%;
            font-family: 'Carrois Gothic', sans-serif;
        }
        .primer a:hover{
            
            color: #ffffff;
            text-decoration:underline;
            font-size: 80%;
        }
        .primer a:active{
            color: aqua;
        }
        .nav2{
            display: flex;
        }
        .nav2 a img{
            justify-content: center;
            width: 40px; 
            padding: 10px;
        }
        .nav2 img:hover{
            width: 45px;
        }
        .logo img:hover{
            width: 150px;
        }
           /*estilos del body*/
    body {      
    background-color: white;
    font-family: 'Carrois Gothic', sans-serif;
        } 

        h1{
            font-family: 'Carrois Gothic SC', sans-serif;
            margin-left: 10%;
        }
        .container h2{
            text-align: center;
            background-color: #C2943F;
            width: 33.33%;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 33.33%;
            margin-right: 33.33%;
            border-radius: 30px;  
            box-shadow: 0px 4px 4px;
            font-family: 'Carrois Gothic SC', sans-serif;
        }
        .col h3{
            text-align: center;
            background-color: #C2943F;
            width: 33.33%;
            margin-left: 33.33%;
            margin-right: 33.33%;
            border-radius: 30px;  
            box-shadow: 0px 4px 4px;
            font-family: 'Carrois Gothic SC', sans-serif;
        }
        .row h3{
            text-align: center;
            background-color: #C2943F;
            width: 33.33%;
            margin-left: 33.33%;
            margin-right: 33.33%;
            border-radius: 30px;  
            box-shadow: 0px 4px 4px; 
            margin-top: 5%;
            font-family: 'Carrois Gothic SC', sans-serif;
        }

        .fotoartesano{
            border-radius: 30px;
            box-shadow: 0px 4px 4px;
            max-width: 100%;
            margin: auto;
        }

        .quienes{
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
            text-align: justify;
        }

        @media (min-width: 480px) {
            .quienes{
            margin-left: 33.33%;
            margin-right: 33.33%;
            }
        }

        
        
        /*estilos del footer*/
        footer{
            height: 70px;
            background-color: #282F36;
        }
        .copy p{
            padding-left: 15px;
            padding-top: 22px;
            float: right;
            color: #E8AF4E;
            font-size: 87%;
        }
        .foot{
            
            flex-direction: column;
            float: left;
            color: #E8AF4E;
            justify-content: center;
            padding: 1px;
        }
        
        .seguir .ya{
            padding-right: 15px;
            padding-top: 8px;
            padding-bottom: 0px;
            margin: 0px;    
        }
        .facebook {
          padding-left: 22px;              
          padding-left: 10px;         
            
            
        }   
        .facebook:hover{
          transition: transform 0.3s;
          transform: scale(1.5);

        }

