:root {
  --oscuro: #000000;
  --azul: #282F36;
  --cafe: #5b441d;
  --dorado: #c2943f;
  --amarillo: #e8af4e;
  --blanco: #ffffff;
}

.subtema {
  font-size: 32px;
  color: var(--azul);
  font-family: 'Carrois Gothic SC', sans-serif;
}

.dorado {
color: var(--dorado)
}

body {
  background-color: var(--blanco);
}

.fondo_dorado {
background-color: #c2943f;
}


.header {
  margin:auto;
  justify-content: space-between;

}

.portada_contacto {
  background-color: #C2943F;
  border-radius: 30px;  
  box-shadow: 0px 4px 4px;
  font-family: 'Carrois Gothic SC', sans-serif;
  width: 40%;
  font-size: 32px;
  text-align: center;
}

.dropdown-menu {
  background-color: #282F36;

}

.dropdown-item {
  color: #C2943F !important; 
  font-family: 'Carrois Gothic SC', sans-serif;

}

@media (max-width: 800px) {
  .portada_contacto {
    font-size: 20px;
    width: 80%;
  }
}

.texto {
font-size: 20px;
font-family: 'Carrois Gothic SC', sans-serif;
}
